.auth__circle{
    position: absolute;
    height: 100vh;
    width: 50vw;
    background-image: $linnerGradien;
    transition: 1.8s ease-in-out;
    border-radius: 0%  ;
    z-index: 1;
}

.auth__content{
    padding: 5rem 3rem;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.auth__form__container{
    margin-left: 4rem;
    margin-top: 6rem;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    padding: 5%;
}

.auht_title_icon  {
    color: #4481eb;
}

.auth__btn{
    background-image: $linnerGradien ;
}

.auth__btn:hover{
    background-image: $linnerGradienHover ;
    // opacity: .4;
    // color: #333;
}


.auth__image{
    width: 500px;
}

.auth__social_media {
    display: flex;
    justify-content: center;
  }
.auth__social_icon{
    height: 46px;
    width: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.45rem;
    border-radius: 50%;
    background-image: $linnerGradien ;
    color: red;
    text-decoration: none;
    font-size: 1.1rem;
    transition: 0.3s;
}

.auth__social_icon:hover {
    color: #4481eb;
    border-color: #4481eb;
  }

// Sing up

.auth__circle__singup{
    position: absolute;
    height: 100vh;
    width: 50vw;
    transform: translate(100%, 0%);
    // left: 50%;
    // margin-left: 50%;
    background-image: $linnerGradien;
    transition: 1.8s ease-in-out;
    border-radius: 0%  ;
    z-index: 1;
}
.auth__content__singup{
    // left: 0%;
    // position: absolute;
    // left: 0%;
    transform: translate(-100%, 0%);
    padding: 5rem 3rem;
    height: 100vh;
    // width: 100vw;
    margin: 0;
}
.auth__form__container_singup{
    width: 200%;
}
.auth__label_panel{
    // left: 100%;
    transform: translate(130%, 0%);

}
// Responsive

@media (max-width: 376px) {
    .auth__circle{
        position: absolute;
        height: 100vh;
        width: 100vw;
        background-image: $linnerGradien;
        transition: 1.8s ease-in-out;
        z-index: 1;
    }
    .auth__content{
        padding: 1rem .5rem;
        height: 100vh;
        width: 100vw;
        margin: 0;
    }
    
    .auth__form__container{
        margin-left: 0rem;
        margin-top: .5rem;
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
        padding: 1%;
    }
    .me-3{
        margin-left: 0;
        margin-right: 0;

    }
    .auth__image{
        // text-align: center;
        align-items: center;
        margin-left: 3.5rem;
    width: 100px;

    }
}