// *{
//     // font-family: Arial, Helvetica, sans-serif;
//     font-family: $font;
//     // font-weight: 600;
//     margin: 0;
//     // background-color: saddlebrown;
// }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body,
  input {
    font-family: $font, sans-serif;
  }

// html, body {
//     height: 100vh;
//     width: 100vw;
// }

// main {
//     width: 100%;
// }

.pointer{
    cursor: pointer;
}

.loading{
  height: 100vh;
  text-align: center;
  align-items: center;
}