// Colors

$primary: #5C62C5;
$dark-grey: #363636;
$light-grey: #d8d8d8;


// desing in btn google
$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;

$linnerGradien: linear-gradient(-45deg, #c364d6 0%, #04c0fee8 100%); 
$linnerGradienHover: linear-gradient(-45deg, #1569fc 0%, #34839e 100%); 

// font
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Nanum+Myeongjo:wght@400;700&display=swap');
$font: 'Open Sans';

$font2: 'Inspiration';